// scale
$scale: 1rem;

// font-weight
$fw-thin: 100;
$fw-extraLight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

//colors
$c-white: #FFF;
$c-black: #000;
$c-red: #BA1B1C;

// z-indexes
$zi-bg: 1;
$zi-canvas: 2;
$zi-content: 3;
